<header class="site-header">
    <div class="wrap">
        <a class="site-title" href="{{ site.baseurl }}/">
            <img src="{{ "/hotspot.png" | prepend: site.baseurl }}" alt="Hotspot" width="35"
                style="vertical-align: middle; margin-right: 10px;">
            {{ site.title }}
        </a>
        <nav class="site-nav">
            <div class="trigger">
                {% for page in site.pages %}
                {% if page.title and page.includelink %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </nav>
    </div>
</header>